:root {
    --corPrimaria: #24292e; /*Preto*/
    --corSegundaria: #2f363d; /*Cinza Escuro*/
    --corTerciaria: #5b5d5f; /*Cinza Claro*/
    --corFundo: #ffffff; /*Branco*/
    --corFundoInput: #ede1e1;
    --corInput: #d4d2d2; /*Cinza*/
    --corBordaInput: #ababab; /*Cinza mais claro*/
    --corBotaoCorreto: #28a745; /*Verde*/
    --corLinks: #0366d6; /*Azul*/
    --corBotaoErrado: #d73a49; /*Vermelho*/
    --corAlerta: #ffd33d; /*Amarelo*/

    --background-color: #00090E;
    --text-color: #E1E1E1;
    --primary-color: #81FE88;
    --secondary-color: #888888;
    --tag-color: #171D1F;
    --font-family: "Prompt", sans-serif;
    --itens-background: #171D1F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--corPrimaria);
}

.main_input{
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: var(--corFundoInput);
    padding: 100px 100px 85px 100px;
    border-radius: 10px;
}

.main_input label {
    display: flex;
    text-align: start;
    margin-bottom: 3px;
}

.main_input input {
    display: flex;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: var(--corInput);
    border: 2px solid var(--corBordaInput);
    padding: 5px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 45px;
}

section a {
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding: 5px 15px;
    background-color: var();
    border: 1px solid var();
    border-radius: 5px;
    text-decoration: none;
    color: black;    
}

section button {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 5px 12px;
    background-color: var();
    border: 1px solid var();
    border-radius: 5px;
}