:root {
  --corPrimaria: #24292e;
  /*Preto*/
  --corSegundaria: #2f363d;
  /*Cinza Escuro*/
  --corTerciaria: #5b5d5f;
  /*Cinza Claro*/
  --corFundo: #ffffff;
  /*Branco*/
  --corFundoInput: #ede1e1;
  --corInput: #d4d2d2;
  /*Cinza*/
  --corBordaInput: #ababab;
  /*Cinza mais claro*/
  --corBotaoCorreto: #28a745;
  /*Verde*/
  --corLinks: #0366d6;
  /*Azul*/
  --corBotaoErrado: #d73a49;
  /*Vermelho*/
  --corAlerta: #ffd33d;
  /*Amarelo*/

  --background-color: #00090E;
  --text-color: #E1E1E1;
  --primary-color: #81FE88;
  --secondary-color: #888888;
  --tag-color: #171D1F;
  --font-family: "Prompt", sans-serif;
  --itens-background: #171D1F;
}

input {
  display: flex;
  justify-content: center;
  padding: 6px;
  border-radius: 5px;
  height: 35px;
  width: 350px;
  border: 2px solid var(--background-color);
}

label {
  display: flex;
  justify-content: start;
  width: 90px;
  position: relative;
  left: 5px;
  background-color: var(--corInput);
  color: var(--background-color);
}